<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/61308be4-63ad-4ee1-a766-10a1bceed521/resourceGroups/AppLogin20241126151453ResourceGroup/providers/Microsoft.Web/sites/AppLogin20241126151453</ResourceId>
    <ResourceGroup>AppLogin20241126151453ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://applogin20241126151453.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f93d3fc8-88b1-472b-bf66-b1acc1e57fc0</ProjectGuid>
    <PublishUrl>https://applogin20241126151453.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AppLogin20241126151453</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>